// ------ THEME 1
$bg1_main: hsl(222, 26%, 31%);
$bg1_keypad: hsl(223, 31%, 20%);
$bg1_screen: hsl(224, 36%, 15%);

$keys1_reset: hsl(225, 21%, 49%);
$keys1_resetShadow: hsl(224, 28%, 35%);
$keys1_equal: hsl(6, 63%, 50%);
$keys1_equalShadow: hsl(6, 70%, 34%);
$keys1_default: hsl(30, 25%, 89%);
$keys1_defaultShadow: hsl(28, 16%, 65%);

$text1_dark: hsl(221, 14%, 31%);
$text1_light: hsl(0, 0%, 100%);

// ---- THEME 2
$bg2_main: hsl(0, 0%, 90%);
$bg2_keypad: hsl(0, 5%, 81%);
$bg2_screen: hsl(0, 0%, 93%);

$keys2_reset: hsl(185, 42%, 37%);
$keys2_resetShadow: hsl(185, 58%, 25%);
$keys2_equal: hsl(25, 98%, 40%);
$keys2_equalShadow: hsl(25, 99%, 27%);
$keys2_default: hsl(45, 7%, 89%);
$keys2_defaultShadow: hsl(35, 11%, 61%);

$text2_dark: hsl(60, 10%, 19%);
$text2_light: hsl(0, 0%, 100%);

// ---- THEME 3
$bg3_main: hsl(268, 75%, 9%);
$bg3_keypad: hsl(268, 71%, 12%);
$bg3_screen: hsl(268, 71%, 12%);

$keys3_reset: hsl(281, 89%, 26%);
$keys3_resetShadow: hsl(285, 91%, 52%);
$keys3_equal: hsl(176, 100%, 44%);
$keys3_equalShadow: hsl(177, 92%, 70%);
$keys3_default: hsl(268, 47%, 21%);
$keys3_defaultShadow: hsl(290, 70%, 36%);

$text3_yellow: hsl(52, 100%, 62%);
$text3_dark: hsl(198, 20%, 13%);
$text3_light: hsl(0, 0%, 100%);