@import 'vars';
@import 'reset';
@import 'normalize';
@import 'themes';

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calc {
    padding:1em;
    border-radius: .5rem;
}
.header {
    display:flex;
    justify-content: space-between;
    &__themePicker {
        width: 35%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        @import 'range';
        position: relative;
        #switch_legend {
            position:absolute;
            top:-.5rem;
            right:0;
            width: 50%;
            font-size: .5rem;
            display:flex;
            justify-content: space-between;
            padding: 0 .5rem 0 .25rem;
        }
    }
}
.main {
    &__screen {
        width:100%;
        padding:1rem;
        text-align: right;
        border:none;
        border-radius: 1rem;
        margin-block: 1rem;
    }
    &__keypad {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: .7rem;
        padding: .7rem;
        border-radius: 1rem;
        &-key {
            display: flex;
            justify-content: center;
            align-items: center;
            &:active {
                transform: translateY(2px);
            }
        }
        .reset, .equal {
            grid-column: span 2;
        }
        button {
            border: none;
            border-radius: .5rem;
        }
    }
}